.profile-img {
    height: auto;
    width: 200px;
    padding: 1rem;
}

a img {
    height: 30px;
    width: auto;
    margin: 1rem;
}

.links a .content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0 5px 0;
}

.links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.view {
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
