<div class="view">
    <img class="profile-img" src="assets/me.jpeg">
    <div class="links">
        <a md-button target="_blank" href="https://github.com/shusson">
            <div class="content">
                <img src="assets/github.png">
            </div>
        </a>
        <a md-button target="_blank" href="https://www.linkedin.com/in/shusson">
            <div class="content">
                <img src="assets/ln.png">
            </div>
        </a>
        <a md-button target="_blank" href="https://stackoverflow.com/users/1787388/shusson?tab=profile">
            <div class="content">
                <img src="assets/so.png">
            </div>
        </a>

    </div>

</div>
