<div class="markdown-body">
    <h3 id="findinghealthserviceswithgooglemapsapi">Finding health services with Google Maps API</h3>
    <p><strong>14/08/2017</strong></p>
    <p><img src="assets/hank.png" alt="hank"/></p>
    <p>As part of a recent health <a href="https://github.com/shusson/hank">Hackathon</a> we
    wanted to collect some health information per suburb. Specifically we
    were looking for things like "how many hospitals are in this suburb?" As
    we were time constrained we decided to explore what the Google Maps API
    could give us. We already knew that Google Maps could provide this
    kind of information, e.g searching an area for hospitals. But could
    the API provide similar results? And what kind of accuracy would we get?</p>
    <p>Google provides a <a href="https://developers.google.com/maps/web/">few different libraries</a>
    across different languages. If you plan to do anything more than a
    few simple queries I'd recommend you use one of the server side libraries
    (google calls them <a href="https://developers.google.com/maps/web-services/client-library">web services</a>).
    The server side libraries provide nice features like <code>Automatic Rate Limiting</code>.</p>
    <p>Before you can use any of the APIs you'll need to <a href="https://developers.google.com/places/web-service/get-api-key">get a key</a>.</p>
    <p>The APIs are broken down into specific domains such as Directions or
    Geolocation. For our use case we used the <a href="https://developers.google.com/places/web-service/">Places API</a>,
     which lets you search for places either by proximity or a text string.
     The <a href="https://developers.google.com/places/web-service/search#TextSearchRequests">text string search</a>
     allows you to specify a radius but it will still return results outside
     the radius, i.e it uses the radius for ranking.
     In contrast the <a href="https://developers.google.com/places/web-service/search#PlaceSearchRequests">proximity search</a>
     will only return places within a certain radius around a location.</p>
    <p>Finding how many Hospitals are in Darlinghurst:</p>
    <pre><code class="javascript language-javascript">{{"const mc = require('@google/maps').createClient({
  key: 'YOUR_KEY'
});

const location = [-33.878101, 151.220386]; // Darlinghurst, AU
const r = 1000;
const request = {
    location: location,
    radius: r,
    type: 'hospital'
};

mc.placesNearby(request, function (err, res) {
    if (err) {
        console.log(err);
        return;
    }
    console.log(JSON.stringify(res.json.results.length));
    console.log(JSON.stringify(res.json.results.map(function (v) {
        return v.name;
    })));
});"}}</code></pre>
    <p>If you run the above code it'll print out:</p>
    <pre><code class="bash language-bash">20
["Darlinghurst Medical Centre","Holdsworth House Medical Practice","Hyde Park Medical Centre - Sydney CBD","St Vincent's Private Hospital Sydney","Sydney Acupuncture Clinic","Sydney Day Surgery","Lord Surgery St Vincents's Private Hospital","Liverpool Street Medical Suites","Dr Maxine Szramka, Sydney Rheumatologist","Dr. Nick Vertzyas - Orthopaedic Surgeon","Ingrown Toenail Specialist Sydney","The Scottish Hospital","St. Vincents Hospital Alcohol &amp; Drug Service","Tierney House","Blood &amp; Marrow Transplant Network","Great Directions","Bourke Street Clinic","Centurion Healthcare","Potts Point Medical Practice","Creative Counsel"]</code></pre>
    <p>There's 2 obvious issues here:</p>
    <ol>
    <li><p>The API has capped the result at <code>20</code>.</p></li>
    <li><p>The result contains many places that I would not consider a hospital.</p></li>
    </ol>
    <p>In regards to 1, the API let's you ask for another page of results using
     a <code>pagetoken</code> in the request, but will at most give you <a href="https://developers.google.com/places/web-service/search#PlaceSearchPaging">60 results in
     total</a>.</p>
    <p>In regard to 2, we can improve our search by adding a <code>keyword</code> to the request:</p>
    <pre><code class="javascript language-javascript">{{"...
const request = {
    location: location,
    radius: r,
    type: 'hospital',
    keyword: 'hospital`
};
..."}}</code></pre>
    <p>Which will result in:</p>
    <pre><code class="bash language-bash">9
["St Vincent's Hospital Sydney","St Vincent's Private Hospital Sydney","St. Vincents Hospital Alcohol &amp; Drug Service","East Sydney Private Hospital","The Scottish Hospital","Hospital","Lord Surgery St Vincents's Private Hospital","Tierney House","Level 4, Xavier Building"]</code></pre>
    <p>So the Places API provides some filters that let you narrow down your results,
    but the accuracy isn't great. The Places API also caps results at 60, which
    was ok for the <code>hospital</code> query but would probably be limiting for queries
    like <code>doctors</code> or <code>clinics</code>. For the Hackathon, the Places API was
    sufficient at getting an overview of health services in a suburb, but further
    investigation is required if we wanted to expand the idea further.</p>
    <p>Sample source code available on <a href="https://github.com/shusson/hank/blob/master/server/find-places.js" target="_blank">github</a>.
        You'll have to use your own key, as the one that's there has been deleted.</p>
</div>
