.view {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.post {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 600px;
}

.title {
    text-decoration: none;
    font-size: x-large;
    margin: 5px 1rem 5px 1rem;
    cursor: pointer;
}

.date {
    margin: 5px 1rem 5px 1rem;
}

.image {
    margin: 5px 1rem 5px 1rem;
    width: 100%;
    cursor: pointer;
}

.image img {
    height: auto;
    width: 90%;
}

.content {
    width: 90%;
    margin: 5px 1rem 5px 1rem;
}

:host /deep/ p {
    margin: 0 !important;
}
